

//Variables
  /* Colors */
$primary-100:#0070C0;
$primary-200:#004E86;
$primary-300:#6EC3FF;
$accent-100:#FFC000;
$accent-200:#B38600;
$text-100:#333333;
$text-200:#737373;
$bg-100:#F5F5F5;
$bg-200:#E9E9E9;
$bg-300:#FFFFFF;
    /* Size */
$size-1: 20px;
  
// Begin

body{
    box-sizing: border-box;
    margin: 0;
    background-color: $bg-100;
    font-family: 'Raleway', sans-serif;
}
i{
    color: $primary-100;
}

.header-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: $size-1;
    max-width: 1200px;
    margin: 0 auto;

    .personal-informations{
        display: flex;
        
        .telephone p{
            margin-right: 20px;
        }
        i{
            margin-right: 5px;
        }
    }
    .social-informations i{
        margin-left: 10px;
        &:hover{
            transform: scale(1.5);
            transition: transform 0.3s;
            color: $primary-200;
        }
    }
}

.header-bottom{
    display: flex;
    @extend .header-top;
    margin-top: 20px;

    .right{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 50px;

        .liens a{
            text-decoration: none;
            color: $text-100;
            margin:0 10px;
            padding: 0 5px;
            transform: scale(1.5);

            &:hover{
                color: #000;
                text-decoration: underline;
                text-underline-offset: 20px;
                font-weight: 700;
            }
        }
        .account{
            button{
                padding: 10px;
                width: 150px;
                border-radius: 5px;
                cursor: pointer;
                &:hover{
                    background-color: $primary-100;
                    a{
                        color: $bg-100;
                    }
                }
            }
            a{
                color: $text-100;
                text-decoration: none;
            }
        }
    }
}